app/Resources/wsdl/BkmExpressPaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bkmexpress.com.tr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.bkmexpress.com.tr" name="BkmExpressPaymentService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.bkmexpress.com.tr" schemaLocation="https://preprod.bkmexpress.com.tr/BKMExpress/BkmExpressPaymentService.ws?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="directPayment">
        <part name="parameters" element="tns:directPayment"></part>
    </message>
    <message name="directPaymentResponse">
        <part name="parameters" element="tns:directPaymentResponse"></part>
    </message>
    <message name="initializePayment">
        <part name="parameters" element="tns:initializePayment"></part>
    </message>
    <message name="initializePaymentResponse">
        <part name="parameters" element="tns:initializePaymentResponse"></part>
    </message>
    <message name="expressPayment">
        <part name="parameters" element="tns:expressPayment"></part>
    </message>
    <message name="expressPaymentResponse">
        <part name="parameters" element="tns:expressPaymentResponse"></part>
    </message>
    <message name="getConsumerBin">
        <part name="parameters" element="tns:getConsumerBin"></part>
    </message>
    <message name="getConsumerBinResponse">
        <part name="parameters" element="tns:getConsumerBinResponse"></part>
    </message>
    <message name="queryPaymentResult">
        <part name="parameters" element="tns:queryPaymentResult"></part>
    </message>
    <message name="queryPaymentResultResponse">
        <part name="parameters" element="tns:queryPaymentResultResponse"></part>
    </message>
    <message name="doReversalWithNoRef">
        <part name="parameters" element="tns:doReversalWithNoRef"></part>
    </message>
    <message name="doReversalWithNoRefResponse">
        <part name="parameters" element="tns:doReversalWithNoRefResponse"></part>
    </message>
    <message name="doReversalWithRef">
        <part name="parameters" element="tns:doReversalWithRef"></part>
    </message>
    <message name="doReversalWithRefResponse">
        <part name="parameters" element="tns:doReversalWithRefResponse"></part>
    </message>
    <portType name="BkmExpressPaymentService">
        <operation name="directPayment">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/directPaymentRequest" message="tns:directPayment"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/directPaymentResponse" message="tns:directPaymentResponse"></output>
        </operation>
        <operation name="initializePayment">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/initializePaymentRequest" message="tns:initializePayment"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/initializePaymentResponse" message="tns:initializePaymentResponse"></output>
        </operation>
        <operation name="expressPayment">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/expressPaymentRequest" message="tns:expressPayment"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/expressPaymentResponse" message="tns:expressPaymentResponse"></output>
        </operation>
        <operation name="getConsumerBin">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/getConsumerBinRequest" message="tns:getConsumerBin"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/getConsumerBinResponse" message="tns:getConsumerBinResponse"></output>
        </operation>
        <operation name="queryPaymentResult">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/queryPaymentResultRequest" message="tns:queryPaymentResult"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/queryPaymentResultResponse" message="tns:queryPaymentResultResponse"></output>
        </operation>
        <operation name="doReversalWithNoRef">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/doReversalWithNoRefRequest" message="tns:doReversalWithNoRef"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/doReversalWithNoRefResponse" message="tns:doReversalWithNoRefResponse"></output>
        </operation>
        <operation name="doReversalWithRef">
            <input wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/doReversalWithRefRequest" message="tns:doReversalWithRef"></input>
            <output wsam:Action="http://www.bkmexpress.com.tr/BkmExpressPaymentService/doReversalWithRefResponse" message="tns:doReversalWithRefResponse"></output>
        </operation>
    </portType>
    <binding name="BkmExpressPaymentServicePortBinding" type="tns:BkmExpressPaymentService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="directPayment">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="initializePayment">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="expressPayment">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getConsumerBin">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="queryPaymentResult">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="doReversalWithNoRef">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="doReversalWithRef">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="BkmExpressPaymentService">
        <port name="BkmExpressPaymentServicePort" binding="tns:BkmExpressPaymentServicePortBinding">
            <soap:address location="https://preprod.bkmexpress.com.tr/BKMExpress/BkmExpressPaymentService.ws"></soap:address>
        </port>
    </service>
</definitions>